name: fmt

on:
  push:
  pull_request:

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all --check
